# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 
    inputs:
      python_version:
        required: true
        default: "3.10"

jobs:
  build:

    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ github.event.inputs.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Pack the erverphotoDL
      run: |
        pip install pyinstaller
        pyinstaller --noconfirm --onefile --console --icon "kite.ico"  "main.py"
        Rename-Item -Path "dist/main.exe" -NewName "everphotoDL.exe"
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        name: everphotoDL
        path: dist/everphotoDL.exe
        

